doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title HamaCreator
    link(rel='icon', type='image/svg+xml', href='./img/favicon.svg')
  body
    h1 HamaCreator
    p Glisser une image sur la zone blanche
    #app
      #pegboard
        #mockupwrapper
          canvas#mockup(width='580px', height='580px')
          #spinner
            .lds-grid
              - for (var x = 0; x < 9; x++)
                div
        .form
          span Nombre de plaque(s)
          label(for='horizontal') Horizontale(s)
          input#horizontal(type='number', value='1', min='1')
          label(for='vertical') Verticale(s)
          input#vertical(type='number', value='1', min='1')
      #config
        p Choisissez vos coloris disponibles (tous par défaut)
        #palette
          label
            input(type='checkbox')
            span.border
              span.color
              span.number
            span.sr-only
    #instructions
    canvas#temp(width='29px', height='29px')
    script(src='./js/main.js', type='module')
    script(
      data-name='BMC-Widget',
      data-cfasync='false',
      src='https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js',
      data-id='gouz',
      data-description='Support me on Buy me a coffee!',
      data-message='',
      data-color='#40DCA5',
      data-position='Right',
      data-x_margin='18',
      data-y_margin='18'
    )
